.react_todolist {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  border: 1px grey solid;
  &__task {
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
  }
  &__task:hover {
    background-color: lightgrey;
  }
  &__delete {
    float: right;
    color: red;
    display: none;
  }
  &__task:hover &__delete {
    display: inline-block;
  }
  &__task.done {
    text-decoration: line-through;
  }
  &__footer {
    div {
      padding: 3px;
    }
    &_buttons button.selected {
      border: 2px solid black;
    }
    display: flex;
    margin-top: 10px;
  }
}