.react_todolist {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  border: 1px grey solid;
  &__task {
    cursor: pointer;
  }
  &__delete {
    float: right;
    color: red;
    display: none;
  }
  &__task:hover &__delete {
    display: inline-block;
  }
  &__task.done {
    text-decoration: line-through;
  }
}